# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.env/
venv/
ENV/
env/
.venv/

# Environment variables
*.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/
